@import "tailwindcss";

/* Light */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --card: #ffffff;
  --muted: rgba(23, 23, 23, 0.65);
  --border: rgba(0, 0, 0, 0.12);

  --nav-bg: rgba(240, 240, 242, 0.8);
}

/* System Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --card: rgba(20, 20, 20, 0.95);
    --muted: rgba(237, 237, 237, 0.7);
    --border: rgba(255, 255, 255, 0.12);

    --nav-bg: rgba(0, 0, 0, 0.6);
  }
}

/* Manueller Dark Mode */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --card: rgba(20, 20, 20, 0.95);
  --muted: rgba(237, 237, 237, 0.7);
  --border: rgba(255, 255, 255, 0.12);

  --nav-bg: rgba(0, 0, 0, 0.6);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root { --active-bg: rgba(0,0,0,0.08); }
@media (prefers-color-scheme: dark) { :root { --active-bg: rgba(255,255,255,0.12); } }
html.dark { --active-bg: rgba(255,255,255,0.12); }
